@model IEnumerable<Northwind.Models.Region>

@{
    ViewBag.Title = "Regions";
}

<div id="form" hidden></div>

<div class="table-responsive">
    <table class="table table-striped table-hover" id="grid-data-regions" hidden>
        <thead>
            <tr>
                <th data-column-id="id" data-identifier="true" data-visible="false" hidden>ID</th>
                <th data-column-id="region">Region</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td hidden>@Html.DisplayFor(modelItem => item.RegionID)</td>
                    <td>@Html.DisplayFor(modelItem => item.RegionDescription)</td>
                </tr>
            }
        </tbody>
    </table>
</div>