@model IEnumerable<Northwind.Models.Territories>

@{
    ViewBag.Title = "Territories";
}

<!-- container for create and edit forms -->
<div id="form" hidden></div>

<!-- Table with all territories (jquery bootgrid) -->
<table class="table table-hover table-striped" id="grid-data-territories" hidden>
    <thead>
        <tr>
            <th data-column-id="id" data-identifier="true" data-visible="false" hidden>ID</th>
            <th data-column-id="territory">Territory</th>
            <th data-column-id="region">Region</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td hidden>@Html.DisplayFor(modelItem => item.TerritoryID)</td>
                <td>@Html.DisplayFor(modelItem => item.TerritoryDescription)</td>
                <td>@Html.DisplayFor(modelItem => item.Region.RegionDescription)</td>
            </tr>
        }
    </tbody>
</table>